<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Footer Section Fragment -->
    <footer th:fragment="footer" class=" py-6">
        <div class="max-w-7xl mx-auto">           
            <!-- Copyright -->
            <div class="border-t border-gray-200 pt-8 text-center">
                <p class="text-gray-600 text-sm">
                    © <span th:text="${currentYear}"> </span> MeetSync Inc. All rights reserved.
                </p>
            </div>
            
        </div>
    </footer>
</body>
</html>