<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header">
        <nav class="navbar">
            <div class="nav-brand">
                <a th:href="@{/}">MeetSync</a>
            </div>
            <ul class="nav-menu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/meetings}">Meetings</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
