<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetSync - Dashboard</title>

    <script src="https://cdn.tailwindcss.com"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/home_style.css}">
</head>
<body class="bg-gray-50">
    
    <div th:replace="~{fragments/home_nav :: navbar}"></div>
    
    
    <div class="flex">
        <div th:replace="~{fragments/home_sidebar :: sidebar}"></div>

        <div th:replace="~{fragments/home_dashboard :: dashboard}"></div>
    </div>
    
 
    <script th:src="@{/js/home_calendar.js}"></script>
    
</body>
</html>